<ul class={{@class}} data-ui-component="password-checklist">
  <li class="flex mt-4 items-center" data-role="has-minimum-characters">
    {{svg-jar
      "check-circle"
      class=(if-else this.hasMinimumCharacters "fill-green-500" "fill-gray-600")
      height="14"
      width="14"
    }}
    <span
      {{class
        "ml-4"
        text-green-500=this.hasMinimumCharacters
        text-gray-600=(not this.hasMinimumCharacters)
      }}
    >
      At least 10 characters long
    </span>
  </li>
</ul>
