<div {{class "fixed left-0 top-0 w-0 overflow-hidden transition-500 h-full" w-50vw=@show}}>
  <div class="bg-inverse p-24 pt-40 overflow-y-scroll h-full absolute top-0 right-0 bottom-0 w-50vw">
    <Button
      @style="link"
      @class="flex text-base items-center absolute top-16 right-16"
      @onClick={{@onClose}}
    >
      Close
      {{svg-jar "close" height="22" width="22" class="ml-8"}}
    </Button>
    <h4 class="heading-3 text-green-500">Example User Agreement</h4>

    <p class="mb-8">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor metus et eros
      varius sodales. Sed eget quam elit. Maecenas consequat mauris nec tellus ornare mollis.
      Morbi in dolor accumsan neque aliquam mattis. Mauris vulputate nunc nec nunc vestibulum
      volutpat. Proin aliquam ac nisi eget tincidunt. Curabitur dapibus ornare ligula vitae aliquet.
      Curabitur venenatis feugiat enim vel cursus. Praesent at nibh vulputate ex auctor consequat.
      In at semper libero. Aliquam urna nisl, tincidunt in turpis vel, facilisis suscipit metus.
      Curabitur imperdiet ac est elementum maximus. In feugiat ex sed convallis iaculis.
    </p>

    <p class="mb-8">
      Sed porta lorem sed augue dictum bibendum. Maecenas id facilisis nulla. Nullam ac orci convallis
      mi varius euismod ac sed justo. Phasellus arcu sapien, tempus id suscipit maximus, molestie et ex.
      Etiam volutpat nulla id odio suscipit, quis elementum velit faucibus. Fusce bibendum, purus quis
      egestas ultricies, justo est efficitur lorem, a tincidunt velit augue condimentum magna. Pellentesque
      a enim et quam sodales volutpat. Nunc vulputate ullamcorper ipsum, non molestie turpis convallis non.
      Proin lorem ipsum, tincidunt nec diam eget, fringilla pulvinar ipsum. Morbi mollis bibendum quam, at
      elementum ex commodo sit amet. Maecenas ullamcorper condimentum ligula, sit amet luctus nibh venenatis
      in. Sed aliquet imperdiet molestie. Nullam sit amet auctor elit. Duis hendrerit molestie odio vestibulum
      egestas. Cras et dignissim purus, eu fringilla justo. Nulla facilisi.
    </p>

    <p class="mb-8">
      Proin et viverra lorem. Donec consectetur tellus dui, non viverra velit suscipit vitae. Aliquam pulvinar
      libero at ipsum viverra, ac lobortis enim dictum. Orci varius natoque penatibus et magnis dis parturient
      montes, nascetur ridiculus mus. Curabitur rutrum nunc eros. Mauris nec nibh neque. In ac ornare felis.
      Sed eget bibendum tortor, ac lacinia ante. Cras euismod dapibus felis at viverra.
    </p>

    <p class="mb-8">
      Maecenas eu ex semper, pharetra ipsum nec, dictum metus. Proin faucibus nunc sed elit feugiat, vitae volutpat
      enim porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam
      commodo, enim eu imperdiet sodales, sapien dui congue leo, nec ultrices felis lorem in orci. Sed finibus,
      ex sed cursus porta, risus enim scelerisque turpis, vitae consequat enim urna a mi. Sed condimentum iaculis
      nibh, sed feugiat massa consequat in. Suspendisse a ipsum a justo posuere feugiat in vel enim. Lorem ipsum
      dolor sit amet, consectetur adipiscing elit. Quisque vitae risus mattis, ornare neque vitae, mollis ligula.
      Curabitur euismod, sapien ut ultrices porta, augue tellus iaculis sem, eu porta lacus elit et leo. Vivamus mi
      nibh, placerat eget nunc id, viverra sollicitudin libero. Cras ac ipsum varius, condimentum sapien ac, luctus
      mauris. In vestibulum dapibus sem. Nullam at venenatis enim. Etiam aliquam elementum lorem, at rhoncus libero
      fermentum eget. Praesent sapien arcu, malesuada eget vehicula sit amet, facilisis quis lectus.
    </p>

    <p class="mb-8">
      In accumsan semper nisi, sed varius felis tristique quis. Nunc iaculis placerat ante. Quisque luctus porttitor
      quam quis tincidunt. Aliquam tristique turpis eget ante aliquet eleifend. Nunc molestie tortor suscipit, consectetur
      turpis vel, pulvinar arcu. Phasellus commodo odio sed varius porta. Fusce convallis ante sed sem viverra, ac euismod
      felis porta. Cras eu mauris sit amet nisl interdum ullamcorper ut id nunc. Praesent ornare nec urna nec scelerisque.
      Maecenas ac viverra diam. In odio erat, dignissim ac finibus at, condimentum et risus. Integer in blandit eros, a dictum
      augue. Nam eu orci elit. Sed laoreet ante et sapien rutrum rhoncus. Vestibulum at purus sit amet tortor cursus rutrum
      et at mauris. Fusce et metus cursus, pellentesque nulla sit amet, porta quam.
    </p>
  </div>
</div>
