<div id="layout-logged-out">
  <div class="left-container">
    <header class="pt-40">
      <h1 role="banner">
        Example Project
      </h1>
    </header>

    <main>
      <h2 class="heading-3 text-green-500">
        {{@pageTitle}}
      </h2>
      {{yield}}
    </main>

    <footer class="pb-40">
      <Copyright />
    </footer>
  </div>

  <div class="right-container" />
</div>
