<Layout::LoggedOut
  @pageTitle="Welcome aboard!"
>
  {{svg-jar "check-circle" class="fill-system-success" height="40" width="40" }}

  <p class="heading-5 mt-24">Thanks for completing your onboarding</p>
  <p class="mt-16 mb-40">You can now login to the Example Project platform.</p>

  <LinkTo
    @route="login"
    @class="link-button-primary"
  >
    Go to Login
  </LinkTo>
</Layout::LoggedOut>
