<Layout::LoggedOut
  @pageTitle="Congratulations!"
>
  <p class="mb-40 text-justify">
    You have been invited to set up your new Example Project account.
    Please click the button below to complete your onboarding.
  </p>

  <LinkTo
    @route="onboard.create-password"
    @class="link-button-primary"
    data-role="complete-onboarding"
  >
    Complete Onboarding
  </LinkTo>
</Layout::LoggedOut>
